<div class="w-full">

    <div class="flex justify-between items-center bg-green-600 p-2">
        <div class="text-base text-white">Add Customer</div>

        <i (click)="cancel()" class="material-icons cursor-pointer text-white">cancel</i>


    </div>

    <form action="" class="pt-4 px-5" [formGroup]="customerForm" (ngSubmit)="save()">

        <div class="mb-2">
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" id="base-input" autocomplete="off" formControlName="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <div class="mb-2">
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                Number</label>
            <input type="number" id="base-input" autocomplete="off" formControlName="phoneNumber"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <!-- <div class="mb-2">
                <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                <input type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div> -->

        <div class="text-end">
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <img src="../../assets/icons/icons8-save-30.png" class="w-[22px]" alt="">
                Save
            </button>

            <button type="button" (click)="cancel()"
                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <img src="../../assets/icons/icons8-cancel-24.png" class="w-[22px]" alt="">
                Cancel
            </button>
        </div>
    </form>
</div>